body{
	margin: 0;
}

header{
	background: #999;
	color: white;
	padding: 15px 15px 0 15px;
}

header h1 {
margin: 0;
display: inline;
font-size: 40;
}

nav h1 a {
	color: inherit;
	text-decoration: none;
}

nav ul{
	margin: 0;
	display: inline;
	padding: 0 0 0 15px;
	
	

}

nav ul li{
	background: #0099cc;
	color: white;
    list-style-type: none;
	display: inline-block;
    margin: 2% 5% 0 5%;
    padding: 5px 15px ;
    border-radius: 5px;
    float: left;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20;

   
    border-radius: 5px;
}

nav ul li:hover {
	background-color: black;

}

nav ul li a:active{
	background-color: black;
}

footer{
	clear: both;
}
.picture {
padding: 2% 2% 0 1%;
float: left;

}

.picture_other{
	padding: 5% 5%;
	float: left;
}

.background{
	background-color: #0099cc;
	height: 10%;
}

.back_color{
	background-color: black;
}